:root{
    --cor-principal: #000000;
    --cor-fundo: #e0f8f765;
    --cor-font: #CEECF5;
    --cor-borda: #0080FF;
}
body{
    background-color: var(--cor-principal);
}
.box{
    color: var(--cor-font);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--cor-fundo);
    padding: 10px;
    border-radius: 7px;
    width: 30%;
}
legend{
    border: 1px solid var(--cor-borda);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}
.inputBox{
    position: relative;
}
.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}
.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: var(--cor-borda);
}
#data_nascimento{
    color: var(--cor-principal);
    border: none;
    padding: 6px;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-color: var(--cor-principal);
    width: 100%;
    padding: 12px;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 8px;
}
